@(rndr: com.gitpitch.utils.GitRepoRenderer, offline: Boolean)

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if(offline) {
                    <p class="navbar-text pull-left"><span style="color: white; font-weight:bold; font-size: 1.3em"> @rndr.getGRS(rndr.params())</span>
                    </p>
                    } else {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" style="font-size:1.3em; font-weight:bold" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@rndr.getGRS(rndr.params()) <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">GitPitch Git Services</li>
                                <li role="separator" class="divider"></li>
                                @for(grs <- rndr.listGRS()) {
                                <li><a href='@rndr.pageLink(false, grs.getType())'>@grs.getName()</a></li>
                                }

                            </ul>
                    </li>

                    <li>
                        <a href="#popupTheme" role="button" data-toggle="modal-popover" data-placement="top"><i
                                class="fa fa-paint-brush" aria-hidden="true"> <span style="font-family: Helvetica Neue"
                                                                                    ,Helvetica,Arial,sans-serif;">Theme</span>
                        </i></a>
                    </li>
                    <li>
                        <a href="#popupBadge" role="button" data-toggle="modal-popover" data-placement="top"><i
                                class="fa fa-shield" aria-hidden="true"> <span style="font-family: Helvetica Neue"
                                                                               ,Helvetica,Arial,sans-serif;">Badge</span>
                        </i></a>
                    </li>
                    <li>
                        <a href="#popupEmbed" role="button" data-toggle="modal-popover" data-placement="top"><i
                                class="fa fa-link" aria-hidden="true"> <span style="font-family: Helvetica Neue"
                                                                             ,Helvetica,Arial,sans-serif;">Embed</span>
                        </i></a>
                    </li>
                    <li>
                        <a href="#popupShare" role="button" data-toggle="modal-popover" data-placement="top"><i
                                class="fa fa-share" aria-hidden="true"> <span style="font-family: Helvetica Neue"
                                                                              ,Helvetica,Arial,sans-serif;">Share</span>
                        </i></a>
                    </li>
                    <li>
                        <a href="#popupPrint" role="button" data-toggle="modal-popover" data-placement="top"><i
                                class="fa fa-print" aria-hidden="true"> <span style="font-family: Helvetica Neue",Helvetica,Arial,sans-serif;">Print</span>
                        </i></a>
                    </li>
                    <li>
                        @if(rndr.isValid()) {
                        <a href="@rndr.offlineLink()" target="_blank"><i class="fa fa-plug" aria-hidden="true"> <span
                                style="font-family: Helvetica Neue" ,Helvetica,Arial,sans-serif;">Offline</span></i></a>
                        } else {
                        <a title="Repo not found, print disabled."><i class="fa fa-plug" aria-hidden="true"> <span
                                style="font-family: Helvetica Neue" ,Helvetica,Arial,sans-serif;">Offline</span></i></a>
                        }
                    </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if(offline) {
                        <a>[ Offline ]</a>
                        } else {
                        <a><span style="color:gray">[ Fullscreen: Press F ]</span></a>
                        }
                    </li>
                </ul>
            </div> <!-- navbar -->
        </div> <!-- container-fluid -->
    </nav>