@(rndr: com.gitpitch.utils.GitRepoRenderer)

    <div id="popupTheme" class="popover" style="text-align: center; font-size:1em">
        <div class="arrow"></div>
        <h5 class="popover-title">GitPitch Themes</h5>
        <div id="themes-popup-content" class="popover-content themes">
            @if(rndr.isValid()) {
            <p style="width:215px; font-size:0.9em">Theme Switcher</p>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <a href='@rndr.pageLinkWithTheme("black")''>Black</a> -
            <a href='@rndr.pageLinkWithTheme("moon")''>Moon</a> -
            <a href='@rndr.pageLinkWithTheme("night")''>Night</a>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <a href='@rndr.pageLinkWithTheme("beige")''>Beige</a> -
            <a href='@rndr.pageLinkWithTheme("sky")''>Sky</a> -
            <a href='@rndr.pageLinkWithTheme("white")''>White</a>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <p style="width:215px; font-size:0.8em; color: gray">Tip: Use <b>PITCHME.yaml</b> to set a fixed theme for
                your slideshow.</p>
            } else {
            Repo not found, themes disabled.
            }
        </div>
    </div>
    <div id="popupBadge" class="popover" style="text-align: center; font-size:1em">
        <div class="arrow"></div>
        <h5 class="popover-title">GitPitch Badge</h5>
        <div class="popover-content">
            @if(rndr.isValid()) {
            <p style="width:215px; font-size:0.9em">Use the following markdown snippet to add a badge for this slideshow
                to the README.md for your repo.</p>
            <img src='@routes.Assets.versioned("badge.svg")'/>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <input id="badgeSnippet" value="@Html(rndr.pageBadge())"></input>
            <button class="btn" data-clipboard-target="#badgeSnippet">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
            } else {
            Repo not found, badge disabled.
            }
        </div>
    </div>
    <div id="popupEmbed" class="popover" style="text-align: center; font-size:1em">
        <div class="arrow"></div>
        <h5 class="popover-title">GitPitch Embed</h5>
        <div class="popover-content">
            @if(rndr.isValid()) {
            <p style="width:215px; font-size:0.9em">Use the following snippet to embed this GitPitch in your website or
                blog.</p>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <input id="embedSnippet" value="@Html(rndr.pageEmbed())"></input>
            <button class="btn" data-clipboard-target="#embedSnippet">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
            } else {
            Repo not found, embed disabled.
            }
        </div>
    </div>
    <div id="popupShare" class="popover" style="text-align: center; font-size:1em">
        <div class="arrow"></div>
        <h5 class="popover-title">GitPitch Share</h5>
        <div class="popover-content">
            @if(rndr.isValid()) {
            <p style="width:215px">Help get the word out about this GitPitch by e-mail or social media.</p>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <input id="shareSnippet" value="@rndr.pageLink(true)"></input>
            <button class="btn" data-clipboard-target="#shareSnippet">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_linkedin"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_google_plus"></a>
            </div>
            } else {
            Repo not found, share disabled.
            }
        </div>
    </div>
    <div id="popupPrint" class="popover" style="text-align: center; font-size:1em">
        <div class="arrow"></div>
        <h5 class="popover-title">GitPitch Printing</h5>
        <div class="popover-content">
            @if(rndr.isValid()) {
            <a href="@rndr.printLink()" target="_blank">Generate PDF on Server</a>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <a href="@rndr.printBrowserLink()" target="_blank">Generate PDF in Browser</a>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <p style="width:215px; font-size:0.8em; color: gray">Note: Browser support in <b>Chrome</b> only.
            } else {
            Repo not found, printing disabled.
            }
        </div>
    </div>
