@(deps: com.gitpitch.policies.Dependencies, offline: Boolean)

    <style>
        .navbar-brand {
            padding: 17px;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: white;
        }
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #e49436;
        }
        .navbar-inverse .navbar-nav > li > a:visited {
            color: white;
        }
        .themes > a {
            color: #e49436;
        }
        .shortcut > a{
            color: #e49436;
            font-weight: bold;
        }
        #slideshow {
            background-image: url('@deps.gitpitchimg(offline)/preloader-75.gif');
            background-repeat: no-repeat;
            background-position: center; 
        }
        .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:1.3em;
            font-weight: bold;
        }

    </style>
