@(rndr: com.gitpitch.utils.GitRepoRenderer, offline: Boolean)

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if(offline) {
                <a class="navbar-brand" href="#">
                } else {
                <a class="navbar-brand" href="https://gitpitch.com">
                }
                <span style="letter-spacing: 0.1em;
                        color:#e49436;
                        font-size: 1.4em;
                        font-weight: bold;
                        text-transform:none">Git<span style="color:white">Pitch</span></span>
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse" style="margin-top: 3px">
                <ul class="nav navbar-nav">
                    @if(offline) {
                    <li style="font-size:1.2em; color:white"><a href="#">@rndr.user()</a></li>
                    <li style="font-size:1.2em; color:white" class="hidden-sd hidden-xs"><p class="navbar-text" style="color:white">/</p></li>
                    <li style="font-size:1.2em; color:white"><a href="#">@rndr.repo()</a></li>
                    <li><a href="#" style="font-size:1.2em;color:gray" class="hidden-sd hidden-xs">{
                        @rndr.displayLangOrBranch() }</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-lg visible-md" style="font-size:1.1em; color:white"><a href="#"><span
                            class="octicon octicon-star"></span> Star @rndr.stargazers()</a></li>
                    <li class="visible-lg visible-md" style="font-size:1.1em; color:white"><a href="#"><span
                            class="octicon octicon-repo-forked"></span> Fork @rndr.forks()</a></li>

                        @if(rndr.params().grs.equals("github")) {
                        <li style="font-size:1.2em; color:white"><a href="#"><span class="mega-octicon octicon-mark-github" style="font-size:1.3em"></span></a></li>
                        } else {
                        <li style="font-size:1.2em; color:white"><a href="#"><span class="fa fa-@rndr.params().grs" aria-hidden="true" style="font-size:1.4em"></span></a></li>
                        }

                    } else {
                    <li style="font-size:1.2em; color:white"><a href="@rndr.orgHub()">@rndr.user()</a></li>
                    <li style="font-size:1.2em; color:white" class="hidden-sd hidden-xs"><p class="navbar-text" style="color:white">/</p></li>
                    <li style="font-size:1.2em; color:white"><a href="@rndr.repoHub()">@rndr.repo()</a></li>
                    <li><a href="#" style="font-size:1.2em;color:gray" class="hidden-sd hidden-xs">{ @rndr.displayLangOrBranch() }</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-lg visible-md" style="font-size:1.1em; color:white"><a href="@rndr.starHub()"><span
                            class="octicon octicon-star"></span> Star @rndr.stargazers()</a></li>
                    <li class="visible-lg visible-md" style="font-size:1.1em; color:white"><a href="@rndr.forkHub()"><span
                            class="octicon octicon-repo-forked"></span> Fork @rndr.forks()</a></li>
                    <li style="font-size:1.2em; color:white"><a href="@rndr.repoHub()">
                        @if(rndr.params().grs.equals("github")) {
                        <span class="mega-octicon octicon-mark-github" style="font-size:1.3em"></span>
                        }
                        @if(rndr.params().grs.equals("gitlab")) {
                        <span class="fa fa-gitlab" aria-hidden="true" style="font-size:1.4em"></span>
                        }
                        @if(rndr.params().grs.equals("bitbucket")) {
                        <span class="fa fa-bitbucket" aria-hidden="true" style="font-size:1.4em"></span>
                        }
                        @if(rndr.params().grs.equals("gitea") || rndr.params().grs.equals("gogs") ||
                            rndr.params.grs.equals("gitbucket")) {
                        <span class="fa fa-git-square" aria-hidden="true" style="font-size:1.4em"></span>
                        }
                    </a></li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
