@(ssm: com.gitpitch.models.SlideshowModel)
<style>
  .centered {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:1.3em;
      font-weight: bold;
  }
  #gp-logo img {
      max-height: 3.5em;
      max-width: none;
  }
  @if(ssm.options() != null &&
    ssm.options().fetchRevealVersion(ssm.params()) == "3.5.0") {
  .reveal .speaker-notes {
      background-color: black;
      opacity : 0.8;
  }
  }
  .reveal .controls {
    bottom: 20px;
  }
  .reveal .slide-number {
    bottom: 3px !important;
    font-size: 11px !important;
    color: gray !important;
    background-color: inherit !important;
  }
</style>
