@(ssm: com.gitpitch.models.SlideshowModel)
<style>
  #title-footer.footer-visible {
      display: inline;
  }
  #title-footer.footer-hidden {
      display: none;
  }
  #title-footer #notification {
    font-family: 'Roboto', sans-serif;
  }
  #title-footer p {
    text-align: center;
    font-size: 0.9em;
    line-height: 1;
    margin: 0;
    padding-top: 2px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
  }
  #title-footer p.footer-hard {
    @if(ssm.isDarkTheme()) {
    color: #bbb;
    } else {
    color: #4d4d4d;
    }
  }
  #title-footer p.footer-fade {
    @if(ssm.isDarkTheme()) {
    color: #bbb;
    opacity: 0.9;
    } else {
    color: #4d4d4d;
    opacity: 0.9;
    }
    font-size: 1.5vh;
    letter-spacing: 0;
    padding-top: 3px;
  }
</style>
