@(offline: Boolean)
<style>
  /* GitPitch Styling */
  .centered {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:1.3em;
      font-weight: bold;
  }
  .reveal .controls {
    bottom: 20px;
  }
  /* GitPitch Menu Styling */
  .gp-menu-bars {
    font-size: 24px;
  }

  div.pitch-menu {
    width: 100%;
    text-align: center;
    padding-top: 40px;
  }

  div.pitch-menu-logo {
    height: 90px;
    margin: 0 auto;
    background-size: 280px 90px;
    background-repeat: no-repeat;
    @if(offline) {
    background-image: url(assets/img/gp-logo-tagline.svg);
    } else {
    background-image: url(https://gitpitch.com/gp-logo-tagline.svg);
    }
  }
  div.pitch-menu div.section-heading {
    display: none;
    color: white;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }
  div.pitch-menu .git-box {
    width: 90%;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
  }
  div.git-box > table:first-of-type {
    margin-left: 8%;
  }
  div.git-box, div.git-octicon, .git-octicon span  {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
  div.pitch-menu .git-box .short-link {
    width: 8em;
    font-size: 1em;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
  }
  div.pitch-menu .git-box a {
    font-size: 1em;
    text-decoration:none;
  }
  div.pitch-menu .git-box a a:hover {
    color: #e48436;
  }
  div.pitch-menu .git-box table th, div.pitch-menu table td {
    text-align: left;
    padding: 0.6em 0.3em 0.6em 0.3em;
    border: 0;
  }
  div.pitch-menu .git-label {
    color: #b3b3b3;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
  }
  div.pitch-menu .git-octicon {
    font: normal normal normal 16px/1 octicons;
    font-size:1.1em;
    color: white;
  }
  div.pitch-menu .git-octicon .star-fork {
    padding-left: 4px;
    color: white;
  }
  span.octicon.octicon-star, span.octicon.octicon-repo-forked {
    color: #fff;
  }
  span.octicon span.star-fork {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
  }
  .git-octicon span.octicon {
    font-family: octicons;
    /* font-weight: bold !important; */
  }
  div.pitch-menu ul {
    list-style-type: none;
    margin: 14px 0 0px 0;
  }
  div.pitch-menu ul li.slideshow {
    font-size: 0.95em;
    cursor: pointer;
    text-align: left;
    padding: 10px 0;
  }
  div.pitch-menu ul li.home-git {
    padding: 14px 0 14px 0;
    font-size: 1.0em;
    letter-spacing: 1.5px;
    text-align: center;
  }
  div.pitch-menu ul li.home-git a {
    font-family: 'Roboto', sans-serif !important;
  }
  div.pitch-menu ul li.home-themes {
    padding: 14px 0 14px 0;
    font-size: 1.0em;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-align: center;
    border-top: solid 1px #222;
  }
  div.pitch-menu ul li.home-themes a {
    font-family: 'Roboto', sans-serif !important;
  }
  hr.fade-away {
    border: 0;
    height: 1px;
    background: #999;
    background-image: linear-gradient(to right, #666, #999, #666);
    width: 80%;
  }
  div.pitch-menu ul i.fa.fa-download, div.pitch-menu ul i.fa.fa-print, div.pitch-menu ul i.fa.fa-external-link {
    padding-right: 5px;
  }
</style>
