@(ssm: com.gitpitch.models.SlideshowModel, deps: com.gitpitch.policies.Dependencies, printing: Boolean, offline: Boolean)

    <script>
        Reveal.initialize({
            embedded: true,
            margin: 0.0,
            showNotes: @ssm.showNotes(),
            transition: '@ssm.fetchTransition()',
            backgroundTransition: '@ssm.fetchTransition()',
            autoSlide: @ssm.fetchAutoSlide(printing),
            loop: @ssm.fetchLoop(),
            center: @ssm.fetchVerticalCenter(),
            rtl: @ssm.fetchRTL(),
            shuffle: @ssm.fetchShuffle(),
            mouseWheel: @ssm.fetchMouseWheel(),
            slideNumber: @ssm.fetchSlideNumber(),
            history: @ssm.fetchHistory(),
            @if(ssm.mathEnabled()) {
                math: {
                    @if(offline) {
                    mathjax: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/math/MathJax.js',
                    } else {
                    mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
                    }
                    config: '@ssm.fetchMathConfig()'
                },
            }
            dependencies: [
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/markdown/marked.js"},
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/markdown/markdown.js"},
                @if(ssm.chartsEnabled()) {
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/chart/Chart.min.js"},
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/chart/csv2chart.js"},
                }
                @if(offline) {
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/notes/notes.js", async: true },
                }
                @if(deps.highlightPluginEnabled()) {
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/highlight/highlight.js", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                } else {
                { src: '@deps.highlightjs(offline)/highlight.js' },
                { src: '@deps.highlightjs(offline)/reveal-code-focus-1.0.0-mod.js',
                  callback: function() {
                    RevealCodeFocus();
                  }
                },
                }
                @if(ssm.mathEnabled()) {
                    { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/math/math.js", async: true }
                }
            ]
        });

        Reveal.configure({
            keyboard: {
                88: function() { // bind "x" key to "select" code block content

                    var currentSlide = Reveal.getCurrentSlide();
                    var preBlock = $(currentSlide).find("pre");

                    if(preBlock.length > 0) {

                        if (window.getSelection) {
                            var range = document.createRange();
                            range.selectNodeContents(preBlock[0]);
                            var selection = window.getSelection();
                            selection.removeAllRanges();
                            selection.addRange(range);
                        }
                    }
                }
            }
        });

        function enterFullscreen() {
            Reveal.triggerKey(70);
        };

        function enterOverview() {
            Reveal.toggleOverview();
        };

        function enterBlackout() {
            Reveal.togglePause();
        };

        function enableEvents() {
            Reveal.addEventListeners();
        };

        function disableEvents() {
            Reveal.removeEventListeners();
        };

    </script>

    @if(ssm.remoteControlEnabled()) {
    <script>
        Reveal.configure({
            keyboard: {
                37: 'prev',
                39: 'next'
            }
        });
    </script>
    }
