@(ssm: com.gitpitch.models.SlideshowModel)
<script>
    function pushNotification(msg, fade) {
      var notification = document.getElementById('notification')
      if(fade) {
        notification.className = "footer-fade";
        notification.innerHTML = msg;
      } else {
        notification.className = "footer-hard";
        notification.innerHTML = msg;
      }
    };

    function pushHelpNotification() {
      if(window.innerWidth < 700)
        pushNotification("@Html(ssm.fetchHelp(true))");
      else
        pushNotification("@Html(ssm.fetchHelp(false))");
    }

    function pushFootnoteNotification() {
      @if(ssm.hasFootnote() && ssm.fetchFootnote().length() != 0) {
        pushNotification("@Html(ssm.fetchFootnote())", true);
      } else {
        pushNotification("[ GitPitch @Html(ssm.params().atPretty()) ]", true);
      }
    }

    function pushCodePresentingStepNotification(step, frags) {
      pushNotification("Code Presenting - Step " + step + " / " + frags, true);
    }
</script>
