
/* Welcome Slide Text Styles */
.faded {
  color: #CE7731;
}

/* Pro Features Detailed Text Styles */
.pro-feature-details {
  color: #36454F !important;
  font-size: 0.8em !important;
}

/* Community Features Detailed Text Styles */
.feature-details {
  color: #36454F !important;
  font-size: 0.55em !important;
}

/* General Use Styles */
.heading-white h1,
.heading-white h2,
.heading-white h3,
.heading-white h4 {
    color: white;
}
.pad-bottom-5 {
  padding-bottom: 5em !important;
}
sup {
  color: gray;
}


/* Fixed Theme Style Overrides */
.reveal a:hover {
  color: #BF5818;
}
.reveal a {
  color: #E58537;
  font-size: 0.6em !important;
}
.reveal section img {
   box-shadow: 0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}
.reveal .controls button {
  color: gray;
}

/* GitPitch Footer Help Style Override */
#title-footer p.footer-hard {
  color: gray;
}

/* GitPitch Pro Fonts Style Imports */
@font-face {
  font-family: 'Montserrat Heavy';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/montserrat-heavy.woff2') format('woff2'),
       url('/assets/fonts/montserrat-heavy.woff') format('woff');
}
.montserrat-heavy,
.montserrat-heavy * {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Montserrat Heavy", sans-serif !important;
}
@font-face {
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/raleway-medium.woff2') format('woff2'),
       url('/assets/fonts/raleway-medium.woff') format('woff');
}
.raleway-medium,
.raleway-medium * {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Raleway Medium", sans-serif !important;
}

.reveal h3 {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Raleway Medium", sans-serif !important;
}

/*
 * FontAwesome Font Style Override.
 * This style rule must appear after GitPitch Pro Fonts imports.
 */
.fa-font {
  display: inline-block !important;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
