@(rndr: com.gitpitch.utils.GitRepoRenderer, deps: com.gitpitch.policies.Dependencies, offline: Boolean)
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <body>
  <div class="pitch-menu">
    <div class="pitch-menu-logo"></div>
    <br><br>
    <div class="git-box">
      <div style="padding-top: 25px; padding-bottom: 10px;">
        <span class="git-octicon">
          <span class="octicon octicon-git-branch">
            <span style="padding-left: 5px;">
              Choose Git Service
            </span>
          </span>
      </div>
      <hr class="fade-away">
      <br>
      <ul class="slide-menu-items slide-menu-boxed">
        @for(grs <- rndr.listGRS()) {
          @if(grs.getType() == rndr.params().grs) {
          <li class="home-git slide-menu-item selected">
            <a class="active" href='@rndr.pageLink(false, grs.getType())'>@grs.getName()</a>
          </li>
          } else {
          <li class="home-git slide-menu-item">
            <a href='@rndr.pageLink(false, grs.getType())'>@grs.getName()</a>
          </li>
          }
        }
      </ul>
      <br>
    </div>
    <br><br>
    <p>Just add <a href="https://github.com/gitpitch/gitpitch/wiki"
      style="text-decoration: none">PITCHME.md</a>.</p>
      <p>Then Git-Commit.</p>
    <br>
  </div>
</body>
</html>
