@import com.gitpitch.views.html.frags._

@(rndr: com.gitpitch.utils.GitRepoRenderer,
  deps: com.gitpitch.policies.Dependencies,
  offline: Boolean,
  userAgentIsChrome: Boolean)
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <body>
  <div class="pitch-menu">
    <div class="pitch-menu-logo"></div>
    <br><br>
    <div class="git-box">
      <div style="padding-top: 25px; padding-bottom: 10px;">
        <span class="git-octicon">
          @Html(rndr.getGRSIcon(rndr.params()))
          <span style="padding-left: 5px;">
            @rndr.getGRS(rndr.params()) Slideshow
          </span>
        </span>
      </div>
      <hr class="fade-away">
      <table>
        <tr>
          <td class="git-label">User:</td>
          <td><a href="@rndr.orgHub()" target="_blank">
            <div class="short-link">@rndr.user()</div>
          </a></td>
        </tr>
        <tr>
          <td class="git-label">Repo:</td>
          <td><a href="@rndr.repoHub()" target="_blank">
            <div class="short-link">@rndr.repo()</div>
          </a></td>
        </tr>
        <tr>
          <td class="git-label">Branch:</td>
          <td><a href="@rndr.branchHub(rndr.params())" target="_blank">
            <div class="short-link">@rndr.branch()</div>
          </a></td>
        </tr>
        <tr>
          <td class="git-label">Slides:</td>
          <td><a href="@rndr.pitchHub(rndr.params())" target="_blank">
            <div class="short-link">@rndr.pitchme()</div>
          </a></td>
        </tr>
      </table>
      <hr class="fade-away">
      <table style="margin: 0 auto">
        <tr>
          <td class="git-octicon">
            <span class="octicon octicon-star">
              <span class="star-fork">
                @rndr.stargazers()
              </span>
          </td>
          <td class="git-octicon">
            <span class="octicon octicon-repo-forked">
              <span class="star-fork">
                @rndr.forks()
              </span>
          </td>
        </tr>
      </table>
      <hr class="fade-away">
      @if(!offline) {
      <ul>
        <li class="slideshow"
            title="Download GitPitch presentation for offline use.">
          <a href="@rndr.offlineLink()" target="_blank">
          <i class="fa fa-download" aria-hidden="true">
          </i> Offline Version (.zip)</a>
        </li>
        <li class="slideshow"
            title="Convert GitPitch presentation to PDF doc for printing.">
          <a href="@rndr.printLink()" target="_blank">
          <i class="fa fa-external-link" aria-hidden="true">
          </i> Print Version (.pdf)</a>
        </li>
        <li class="slideshow">
          <a href="@rndr.twitterLink()" target="_blank"
             title="Share link to GitPitch presentation on Twitter."
             style="padding-left: 0px; padding-right:10px">
          <i class="fa fa-twitter" aria-hidden="true">
          </i> Twitter</a>
          <a href="@rndr.linkedInLink()" target="_blank"
             title="Share link to GitPitch presentation on LinkedIn.">
          <i class="fa fa-linkedin-square" aria-hidden="true">
          </i> LinkedIn</a>
        </li>
        <li class="slideshow"
            title="Open the GitPitch Wiki for detailed How-To help.">
          <a href="https://github.com/gitpitch/gitpitch/wiki" target="_blank">
          <i class="fa fa-question-circle" aria-hidden="true">
          </i> Help</a>
        </li>
      </ul>
      }
      <br>
    </div>
    <br><br>
    <p>Promote, Pitch, Or Present</p><p>Absolutely Anything.</p>
    <br>
  </div>
</body>
</html>
