@import com.gitpitch.views.html.frags._

@(ssm: com.gitpitch.models.SlideshowModel,
  rndr: com.gitpitch.utils.GitRepoRenderer,
  deps: com.gitpitch.policies.Dependencies,
  gpToken: String,
  offline: Boolean,
  serverPrinting: Boolean,
  webPrinting: Boolean)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>@ssm.params().asTitle()</title>
    <meta content="Markdown Presentation powered by GitPitch." name="description">
    <meta content="GitHub, GitLab, Bitbucket, Markdown, Slideshow, Presentation, Developers, PITCHME" name="keywords">
    @SlideshowOEmbedDiscovery(rndr)
    @SlideshowStyleDependencies(ssm, deps, offline, webPrinting)
    @SlideshowRevealCoreOverrides()
    @SlideshowMenuStyle(offline)
    @SlideshowNotificationBarStyle(ssm)
    @SlideshowCodeFragHighlightStyle()
    @SlideshowThemeOverride(ssm)
    @SlideshowGoogleAnalytics(ssm, offline, serverPrinting, gpToken)
</head>
<body>
    @SlideshowLogo(ssm, offline)
    <div class="reveal">
        <div class="slides">
            @if(offline) {
            <section data-markdown="./assets/md/PITCHME.md"
                     data-separator="@ssm.fetchHorzDelim()"
                     data-separator-vertical="@ssm.fetchVertDelim()"
                     data-separator-notes="^Note:"
                     data-charset="utf-8">
            </section>
            } else {
            <section data-markdown="@ssm.fetchMarkdown()"
                     data-separator="@ssm.fetchHorzDelim()"
                     data-separator-vertical="@ssm.fetchVertDelim()"
                     data-separator-notes="^Note:"
                     data-charset="utf-8">
            </section>
            }
        </div>
        @SlideshowPresentingFooter(ssm, serverPrinting, webPrinting)
    </div>
    <div class="gp-menu"></div>
    @SlideshowPrintFooter(ssm, serverPrinting, webPrinting)

    <script src="@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/js/reveal.js"></script>
    <script src="@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/lib/js/head.min.js"></script>
    <script src="@deps.jquery(offline)/jquery.min.js"></script>

    @SlideshowReveal(ssm, deps, offline, serverPrinting, webPrinting)
    @SlideshowNotifications(ssm)

</body>
</html>
