@(rndr: com.gitpitch.utils.GitRepoRenderer,
  deps: com.gitpitch.policies.Dependencies,
  fixedTheme: String,
  offline: Boolean)
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <body>
  <div class="pitch-menu">
    <div class="pitch-menu-logo"></div>
    <br><br>
    <div class="git-box">
      <div style="padding-top: 25px; padding-bottom: 10px;">
        <span class="git-octicon">
          <span class="octicon octicon-file-media">
          <span style="padding-left: 5px;">
            Choose Theme
          </span>
        </span>
      </div>
      <hr class="fade-away">
      <br>
      <ul class="slide-menu-items slide-menu-boxed">
        @for(theme <- rndr.listThemes()) {
          @if(theme == fixedTheme || (fixedTheme == null && theme == rndr.theme())) {
            @if(theme == fixedTheme) {
              <li class="home-themes slide-menu-item selected fixed-theme">
                <a class="active" href='@rndr.pageLinkWithTheme(theme)'>@theme</a>
              </li>
            } else {
              <li class="home-themes slide-menu-item selected">
                <a class="active" href='@rndr.pageLinkWithTheme(theme)'>@theme</a>
              </li>
            }
          } else {
            @if(fixedTheme != null)  {
            <li class="home-themes slide-menu-item disabled-theme">
              <a href='@rndr.pageLinkWithTheme(theme)'>@theme</a>
            </li>
            } else {
            <li class="home-themes slide-menu-item">
              <a href='@rndr.pageLinkWithTheme(theme)'>@theme</a>
            </li>
            }
          }
        }
      </ul>
      <br>
    </div>
    <br><br>
    @if(fixedTheme != null) {
    <p><a href="https://github.com/gitpitch/gitpitch/wiki/Slideshow-Settings"
        style="text-decoration: none">PITCHME.yaml</a></p>
      <p>Fixed theme in use.</p>
    </p>
    } else {
    <p>Use <a href="https://github.com/gitpitch/gitpitch/wiki"
            style="text-decoration: none">PITCHME.yaml</a> To</p>
            <p>Customize Everything.</p>
    }
    <br>
  </div>
</body>
</html>
